.search-box{
    padding-top: 10px;
}

.ingredient{
    padding: 10px;
}

.text-center{
    vertical-align: middle;
}

.result{
    position: absolute;
    z-index: 999;
    top: 100%;
    left: 0;
}
/* Formatting result items */
.result p{
    margin: 0;
    padding: 7px 10px;
    border: 1px solid #CCCCCC;
    border-top: none;
    cursor: pointer;
}
.result p:hover{
    background: #f2f2f2;
}