<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="views/css/headband_stylesheet.css">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">RecipeBuddy</a>
                <button type="button" class="btn btn-default">Create Recipe</button>
                <button type="button" class="btn btn-default">My Pantry</button>
                <button type="button" class="btn btn-default">Shopping List</button>
                <button type="button" class="btn btn-default">Wish List</button>
                <button type="button" class="btn btn-default">Timer</button>
                <button type="button" class="btn btn-default">Account</button>
            </div>
        </div>
    </nav>
</head>